{% load i18n %}

{% block subject %}
{% blocktrans %}Сброс пароля включен {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это электронное письмо, поскольку запросили сброс пароля для своей учетной записи на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}С уважением, команда сайта {{ site_name }}.{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили это электронное письмо, поскольку запросили сброс пароля для своей учетной записи на сайте {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>
<p>{% trans "Ваше имя пользователя, если вы забыли:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Спасибо за использование нашего сайта!" %}</p>

<p>{% blocktrans %}С уважением, команда сайта {{ site_name }}.{% endblocktrans %}</p>
{% endblock html_body %}